body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background: #E0E0E0;
  --text-primary: black;
  --text-secondary: rgb(65, 65, 65);
  --accent: purple;
  --shadow:15px 15px 30px #bebebe,
  -15px -15px 30px #ffffff;
}
[data-theme='dark'] {
  --background: #212121;
  --text-primary: rgb(255, 255, 255);
  --text-secondary: grey;
  --accent: darkred;
  --shadow: 15px 15px 30px rgb(25, 25, 25),
  -15px -15px 30px rgb(60, 60, 60);
}